/* ========================================
   SGSA — SISTEMA DE CORES
======================================== */

:root {

    /* ============================
       PRINCIPAL
    ============================ */

    --primary: #0b012e;
    --primary-hover: #030236;
    --primary-light: #F8EDF2;

    --text-on-primary: #FFFFFF;

    --primary-shadow: rgba(184, 92, 130, 0.20);


    /* ============================
       FUNDOS
    ============================ */

    --background: #d9d7e9;

    --surface: #fafcff;

    --surface-secondary: #d9dfeb;

    --surface-hover: #e8ebf1;


    /* ============================
       TEXTOS
    ============================ */

    --text-primary: #333333;

    --text-secondary: #777777;

    --text-muted: #999999;


    /* ============================
       BORDAS
    ============================ */

    --border: #EEE5E8;


    /* ============================
       STATUS
    ============================ */

    --success: #4CAF7D;

    --warning: #E5A93D;

    --danger: #D95353;

    --info: #5B8DEF;


    /* ============================
       STATUS — FUNDOS
    ============================ */

    --danger-light: #cfc7c7;


    /* ============================
       SWITCH
    ============================ */

    --switch-background: #b3a9ab;

    --switch-button: #FFFFFF;


    /* ============================
       SOMBRAS
    ============================ */

    --shadow: rgba(0, 0, 0, 0.08);
}


/* ========================================
   DARK MODE
======================================== */

body.dark {

    /* ============================
       PRINCIPAL
    ============================ */

    --primary: #181535;
    --primary-hover: #030236;
    --primary-light: #F8EDF2;
    --text-on-primary: #FFFFFF;
    --primary-shadow: rgba(59, 49, 53, 0.2);


    /* ============================
       FUNDOS
    ============================ */

    --background: #181617;

    --surface: #2d2c35;

    --surface-secondary: #443e40;

    --surface-hover: #3A3335;


    /* ============================
       TEXTOS
    ============================ */

    --text-primary: #F5F1F2;

    --text-secondary: #C2B9BC;

    --text-muted: #91878A;


    /* ============================
       BORDAS
    ============================ */

    --border: #3A3436;


    /* ============================
       STATUS
    ============================ */

    --success: #65C995;

    --warning: #F0BD5A;

    --danger: #E87575;

    --info: #79A3F5;


    /* ============================
       STATUS — FUNDOS
    ============================ */

    --danger-light: #3A2929;


    /* ============================
       SWITCH
    ============================ */

    --switch-background: #51494C;

    --switch-button: #FFFFFF;


    /* ============================
       SOMBRAS
    ============================ */

    --shadow: rgba(0, 0, 0, 0.35);
}